<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="" class="nav__link">Product</a></li>
            <li class="nav__item"><a href="" class="nav__link">Pricing</a></li>
            <li class="nav__item"><a href="" class="nav__link">About</a></li>
            <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
        </ul>
        <img src="./images/figmaland-logo.svg" alt="figmaland logo" class="nav__logo">
        <ul class="nav__socials">
            <li class="nav__social-item">
                <img src="./images/twitter-filled.svg" alt="twitter" class="nav__social-icon">
            </li>
            <li class="nav__social-item">
                <img src="./images/facebook-outlined.svg" alt="facebook" class="nav__social-icon">
            </li>
            <li class="nav__social-item">
                <img src="./images/linkedin-outlined.svg" alt="linkedin" class="nav__social-icon">
            </li>
        </ul>
    </nav>
    <div class="header__content">
        <h1 class="header__title">The best products start with Figma</h1>
        <h4 class="header__subtitle">Most calendars are designed for teams. Slate is designed for freelancers</h4>
        <button class="header__button">Try for free</button>
    </div>
</header>