<footer class="footer">
    <div class="footer__sections">
        <div class="footer__section">
            <h3 class="footer__section-title">Pages</h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="" class="footer__link">Home</a></li>
                <li class="footer__item"><a href="" class="footer__link">Product</a></li>
                <li class="footer__item"><a href="" class="footer__link">Pricing</a></li>
                <li class="footer__item"><a href="" class="footer__link">About</a></li>
                <li class="footer__item"><a href="" class="footer__link">Contact</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__section-title">Tomothy</h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="" class="footer__link">Eleanor Edwards</a></li>
                <li class="footer__item"><a href="" class="footer__link">Ted Robertson</a></li>
                <li class="footer__item"><a href="" class="footer__link">Annette Russell</a></li>
                <li class="footer__item"><a href="" class="footer__link">Jennie Mckinney</a></li>
                <li class="footer__item"><a href="" class="footer__link">Gloria Richards</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__section-title">Jane Black</h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="" class="footer__link">Philip Jones</a></li>
                <li class="footer__item"><a href="" class="footer__link">Product</a></li>
                <li class="footer__item"><a href="" class="footer__link">Colleen Russell</a></li>
                <li class="footer__item"><a href="" class="footer__link">Marvin Hawkins</a></li>
                <li class="footer__item"><a href="" class="footer__link">Bruce Simmmons</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom-item">
            <img src="./images/bx-map-white.svg" alt="bx map" class="footer__bottom-icon">
            <p class="footer__bottom-text">7480 Mockingbird Hill undefined</p>
        </div>
        <div class="footer__bottom-item">
            <img src="./images/baseline-phone-android-white.svg" alt="baseline phone android white" class="footer__bottom-icon">
            <p class="footer__bottom-text">(239) 555-0108</p>
        </div>
        <div class="footer__bottom-socials">
            <img src="./images/twitter-filled.svg" alt="twitter logo" class="footer__bottom-social-icon">
            <img src="./images/facebook-outlined.svg" alt="facebook logo" class="footer__bottom-social-icon">
            <img src="./images/linkedin-outlined.svg" alt="linkedin logo" class="footer__bottom-social-icon">
        </div>
    </div>
</footer>