<section class="features">
    <h2 class="features__title">Features</h2>
    <h4 class="features__subtitle">Most calendars are designed for teams. Slate is designed for freelancers</h4>
    <div class="features__list">
        <div class="features__item">
            <img src="./images/feature1.svg" alt="feature first" class="features__image">
            <h3 class="features__item-title">OpenType features<br>Variable fonts</h3>
            <p class="features__description">Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </div>
        <div class="features__item">
            <img src="images/feature2.svg" alt="feature second" class="features__image">
            <h3 class="features__item-title">Design with real data</h3>
            <p class="features__description">Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </div>
        <div class="features__item">
            <img src="./images/feature3.svg" alt="feature" class="features__image">
            <h3 class="features__item-title">Fastest way to<br>take action</h3>
            <p class="features__description">Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </div>
        <!-- TODO add video in features-section -->
    </div>
</section>