<section class="testimonials">
    <h2 class="testimonials__title">Testimonials</h2>
    <img src="./images/ibm-logo.svg" alt="ibm" class="testimonials__logo">
    <h4 class="testimonials__quote">Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.</h4>
    <div class="testimonials__user">
        <img src="./images/ui-designer-avatar.svg" alt="avatar of ui designer" class="testimonials__avatar">
        <h6 class="testimonials__name">Organize across<br>Ui designer</h6>
    </div>
    <button class="testimonials__button">More Testimonials</button>
</section>