<section class="contact">
  <div class="contact__header">
    <h2 class="contact__title">Contact us</h2>
    <p class="contact__subtitle">
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
  </div>
  <div class="contact__details">
    <div class="contact__form">
      <form class="contact__form-form">
        <h3 class="contact__form-title">Sign up</h3>
        <label class="contact__form-label">
          <input
            type="text"
            class="contact__form-input"
            placeholder="Your name"
          />
          <input
            type="email"
            class="contact__form-input"
            placeholder="Your email"
          />
          <input
            type="text"
            class="contact__form-input"
            placeholder="Your message"
          />
        </label>
        <button class="contact__form-button">Send</button>
      </form>
    </div>
    <div class="contact__info">
      <div class="contact__info-item">
        <img
          src="images/bx-map.svg"
          alt="map logo"
          class="contact__info-icon"
        />
        <p class="contact__info-text">
          6386 Spring St undefined Anchorage, Georgia 12473 United States
        </p>
      </div>
      <div class="contact__info-item">
        <img
          src="./images/baseline-phone-android.svg"
          alt="android phone logo"
          class="contact__info-icon"
        />
        <h6 class="contact__info-text">(843) 555-0130</h6>
      </div>
      <div class="contact__info-item">
        <img
          src="images/bx-map.svg"
          alt="map logo"
          class="contact__info-icon"
        />
        <p class="contact__info-text">willie.jennings@example.com</p>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3639.3420044410395!2d24.0069264989907!3d49.83488112527359!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1744058448361!5m2!1suk!2sua"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="contact__socials">
      <img
        src="images/twitter-outlined.svg"
        alt="twitter outlined"
        class="contact__social-icon"
      />
      <img
        src="images/facebook-filled.svg"
        alt="facebook filled"
        class="contact__social-icon"
      />
      <img
        src="images/linkedin-filled.svg"
        alt="linkedin filled"
        class="contact__social-icon"
      />
    </div>
  </div>
</section>