<section class="newsletter">
    <img src="./images/newsletter-guy.svg" alt="guy-next-to-big-newsletter" class="newsletter__image">
    <div class="newsletter__content">
        <h3 class="newsletter__subtitle">At your fingertips</h3>
        <h2 class="newsletter__title">Lightning fast prototyping</h2>
        <h3 class="newsletter__heading">Subscribe to our Newsletter</h3>
        <p class="newsletter__text">Available exclusively on Figmaland</p>
        <label class="newsletter__label">
            <input type="email" class="newsletter__input" placeholder="Your Email">
            <button class="newsletter__button">Subscribe</button>
        </label>
    </div>
</section>