<section class="partners">
  <h2 class="partners__title">Partners</h2>
  <p class="partners__subtitle">
    Most calendars are designed for teams. Slate is designed for freelancers
  </p>
  <div class="partners__list">
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__client-logo"
        src="../../images/logo-google.png"
        alt="Google logo"
      />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__client-logo"
        src="../../images/logo-amazon.png"
        alt="Amazon logo"
      />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__client-logo"
        src="../../images/logo-microsoft.png"
        alt="Microsoft logo"
      />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__client-logo"
        src="../../images/logo-uber.png"
        alt="Uber logo"
      />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__client-logo"
        src="../../images/logo-dropbox.png"
        alt="Dropbox logo"
      />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__client-logo"
        src="../../images/logo-google.png"
        alt="Google logo"
      />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__client-logo"
        src="../../images/logo-uber.png"
        alt="Uber logo"
      />
    </div>
    <div class="partners__item">
      <p class="partners__client-name">Client Name</p>
      <img
        class="partners__client-logo"
        src="../../images/logo-amazon.png"
        alt="Amazon logo"
      />
    </div>
  </div>
  <button class="partners__button">Try for free</button>
</section>